.profile-content {
  flex: 1;
  padding: 40px;
}
/* Profile Header */
.profile-header {
  display: flex;
  flex-direction: row; 
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center; 
}

.profile-picture {
  margin-bottom: 40px; 
}



.profile-img-placeholder {
  width: 100px; 
  height: 100px;
  border-radius: 50%;
  background-color: #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-img-placeholder img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

/* User Info */
.profile-info {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  align-items:flex-start;
  gap: 10px;
}

.username-section {
  display: flex;
  flex-direction:row; 
  gap: 10px;
}

.username-section h2 {
  font-size: 20px; 
 
}

.username-section button {
  width:fit-content; 
  padding: 8px;
  border: none;
  background-color: #ddd;
  border-radius: 5px;
  cursor: pointer;
}

/* Settings Button */
.settings-btn {
  font-size: 18px;
  background: none;
  border: none;
  cursor: pointer;
}

/* Stats Section */
.stats {
  display: flex;
  justify-content: space-around;
  width: 100%; 
  margin-top: 10px;
}

.stats span {
  font-size: 14px;
}

/* Tabs for Posts, Saved, Tagged */
.profile-tabs {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
  border-top: 1px solid #ddd;
  padding-top: 10px;
}

.profile-tabs span {
  font-size: 14px;
  padding: 8px;
}

/* Profile Body */
.profile-body {
  text-align: center;
  margin-top: 20px;
}

.profile-body h3 {
  font-size: 20px;
}

/*larger screens */
@media (min-width: 768px) {
  
  
  .profile-header {
    flex-direction: row;
    align-items: center;
    
    text-align: left;
    justify-content: center;/*space between*/
    padding: 20px;

  }

  .profile-picture {
    margin-right: 60px;

    
  }

  .profile-img-placeholder {
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

  }

  .username-section {
    display: flex;
    align-items: center;

    flex-direction: row; 
    gap: 15px;
  }

  .username-section button {
    width:fit-content;
  }

  .stats {
    justify-content: flex-start;
    gap: 20px;
  }

  .stats span {
    font-size: 16px;
  }

  .profile-tabs span {
    font-size: 16px;
    padding: 10px;
  }
}
